
html,
body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	overflow: x-hidden;
}



h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 14px;
	color: #878787;
	line-height: 2;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#text1{
	word-wrap: break-word;
	font-size: 17px;
	font-weight: 500;
	position: absolute;
	margin-left: 4%;
	margin-top: 84%;
	color:#808080;
}
#text4{
	word-wrap: break-word;
	font-size: 17px;
	font-weight: 500;
	position: absolute;
	margin-left: 4%;
	margin-top: 77%;
	color:#808080;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #d4d4d4;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {
    background: #939393;
    border-radius: 8px;
    border: 3px solid #d4d4d4;
}

::-webkit-scrollbar-thumb:hover {
    background: #7c7c7c;
}
#text2{
	word-wrap: break-word;
	position: absolute;
	font-size: 17px;
	font-weight: 500;
	margin-left: 4%;
	margin-top: 79%;
	color:#808080;
}
#text3{
	word-wrap: break-word;
	position: absolute;
	font-size: 17px;
	font-weight: 500;
	margin-left: 4%;
	margin-top: 90%;
	color:#808080;
}
#dataprog3{
	position: absolute;
	margin-top: 80%;
	margin-left: 4%;
	font-size: 17px;
}
#dataprog{
	position: absolute;
	margin-top: 76%;
	margin-left: 5%;
	font-size: 17px;
}
#dataprog4{
	position: absolute;
	margin-top: 68%;
	margin-left: 5%;
	font-size: 17px;
}
#dataprog2{
	position: absolute;
	margin-top: 70%;
	margin-left: 4%;
	font-size: 17px;
}
.fon44 {
    background-color: #030303;
    width: 97%;
    height: 93%;
    margin-top: 2%;
    margin-left: 1%;
}
.fon77 {
    background-color: #030303;
    width: 97%;
    height: 90%;
    margin-top: 2%;
    margin-left: 1%;
}
#ifandonwlon88{
	position: absolute;
	background-color: #181e23;
    border-radius: 5px;
    padding: 9px;
    color: #d1d1d1;
    text-align: center;
    outline: none;
    width: 60%;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 142%;
    margin-left: 17%;
}
#ifandonwlon88:hover{
	background: rgba(0,0,0,0);
	color:#ffffff;
	box-shadow: inset 0 0 0 2px #ff0000;
}
.fon88 {
    background-color: #030303;
    width: 97%;
    height: 105%;
    margin-top: 2%;
    margin-left: 1%;
}
.fon66 {
    background-color: #030303;
    width: 97%;
    height: 112%;
    margin-top: 2%;
    margin-left: 1%;
}
#ifandonwlod45{
	position: absolute;
	background-color: #181e23;
    border-radius: 5px;
    padding: 9px;
    color: #d1d1d1;
    text-align: center;
    outline: none;
    width: 60%;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 160%;
    margin-left: 17%;
}
#ifandonwlod45:hover{
	background: rgba(0,0,0,0);
	color: #ffffff;
	box-shadow: inset 0 0 0 2px #ff0000;
}
#ifandonwlod44{
	position: absolute;
	background-color: #181e23;
    border-radius: 5px;
    padding: 9px;
    color: #d1d1d1;
    text-align: center;
    outline: none;
    width: 60%;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 131%;
    margin-left: 17%; 
}
#ifandonwlod44:hover{
	background: rgba(0,0,0,0);
	color: #ffffff;
	box-shadow: inset 0 0 0 2px #ff0000;
}
#ifandonwlod77{
	position: absolute;
	background-color: #181e23;
    border-radius: 5px;
    padding: 9px;
    color: #d1d1d1;
    text-align: center;
    outline: none;
    width: 60%;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 128%;
    margin-left: 17%; 
}
#ifandonwlod77:hover{
	background: rgba(0,0,0,0);
	color: #ffffff;
	box-shadow: inset 0 0 0 2px #ff0000;
}
.section-program img{
	width: 340px;
	margin-top:0%;
	margin-left: 5%;
}

.fon11 h2{
	position: absolute;
	margin-top: 61%;
	color: #e65c00;  /* fallback for old browsers */
	color: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
	color: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin-left: 4%;
	font-size: 26px;
}
.fon22 h2{
	position: absolute;
	margin-top: 60%;
	color: #e65c00;  /* fallback for old browsers */
	color: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
	color: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin-left: 4%;
	font-size: 30px;
}
.fon44 h2{
	position: absolute;
	margin-top: 60%;
	color: #e65c00;  /* fallback for old browsers */
	color: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
	color: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin-left: 4%;
	font-size: 30px;
}
.fon66 h2{
	position: absolute;
	margin-top: 60%;
	color: #e65c00;  /* fallback for old browsers */
	color: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
	color: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin-left: 4%;
	font-size: 30px;
}
.fon77 h2{
	position: absolute;
	margin-top: 60%;
	color: #e65c00;  /* fallback for old browsers */
	color: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
	color: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin-left: 4%;
	font-size: 30px;
}
.fon88 h2{
	position: absolute;
	margin-top: 60%;
	color: #e65c00;  /* fallback for old browsers */
	color: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
	color: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin-left: 4%;
	font-size: 30px;
}

.fon223 h2{
	position: absolute;
	margin-top: 60%;
	color: #e65c00;  /* fallback for old browsers */
	color: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
	color: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin-left: 4%;
	font-size: 30px;
}
.fon222 h2{
	position: absolute;
	margin-top: 60%;
	color: #e65c00;  /* fallback for old browsers */
	color: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
	color: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin-left: 4%;
	font-size: 30px;
}
.fon111 h2{
	position: absolute;
	margin-top: 60%;
	color: #e65c00;  /* fallback for old browsers */
	color: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
	color: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin-left: 4%;
	font-size: 30px;
}
.section-program p{
	position: absolute;
	margin-bottom: 33%;
	width: 119%;
	margin-top: 71px;
	margin-left: 5%;
}
#ifandonwlod{
	position: absolute;
	background-color: #181e23;
    border-radius: 5px;
    padding: 9px;
    color: #d1d1d1;
    text-align: center;
    outline: none;
    width: 60%;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 129%;
    margin-left: 17%;
    
}
#ifandonwlod55{
	position: absolute;
	background-color: #181e23;
    border-radius: 5px;
    padding: 9px;
    color: #d1d1d1;
    text-align: center;
    outline: none;
    width: 60%;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 160%;
    margin-left: 17%;  
}
#ifandonwlod55:hover{
	background: rgba(0,0,0,0);
	color: #ffffff;
	box-shadow: inset 0 0 0 2px #ff0000;
}
.danuas {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 16px;
}
.danuas li {
  display: inline;
  text-align: center;
}
.danuas a {
  float: left;
  display: block;
  font-size: 20px;
  text-decoration: none;
  padding: 5px 12px;
  color: #fbf8f8;
  margin-left: -1px;
  border: 1px solid transparent;
  line-height: 1.5;
}
.danuas a.deystvuyus {
  cursor: default;
}
.danuas a:deystvuyus {
  outline: none;
}

.center{
	text-align: center;
}
.kanap-mavlena {
  position: relative;
}
.kanap-mavlena:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 40px;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(2, 2, 2, 0.65) 40%, rgba(2, 2, 2, 0.65) 50%, rgba(2, 2, 2, 0.65) 60%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 40%, rgba(2, 2, 2, 0.65) 50%, rgba(2, 2, 2, 0.65) 60%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(2, 2, 2, 0.65) 40%, rgba(2, 2, 2, 0.65) 50%, rgba(2, 2, 2, 0.65) 60%, rgba(0, 0, 0, 0) 100%);
}
.kanap-mavlena a {
  color: #615f5f;
  padding: 13px 5px 5px;
  margin: 0 10px;
  position: relative;
}
.kanap-mavlena a:hover {
  color: #fbf8f8;
}
.kanap-mavlena a:hover:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background: #1E7EE2;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  z-index: -1;
  left: -1px;
  bottom: 6px;
  margin: auto;
}
.kanap-mavlena a.next, .kanap-mavlena a.prev {
  color: #1E7EE2;
}
.kanap-mavlena a.next:hover, .kanap-mavlena a.prev:hover {
  color: #fbf8f8;
}
.kanap-mavlena a.next:hover:after, .kanap-mavlena a.prev:hover:after {
  display: none;
}
.kanap-mavlena a.deystvuyus {
  background: #1474d8;
  color: #fbf7f7;
}
.kanap-mavlena a.deystvuyus:before {
  content: '';
  position: absolute;
  top: -11px;
  left: -10px;
  width: 18px;
  border: 10px solid transparent;
  border-bottom: 7px solid #0b3f73;
  z-index: -1;
}

#ifandonwlod:hover{
	background: rgba(0,0,0,0);
	color: #ffffff;
	box-shadow: inset 0 0 0 2px #ff0000;
}
#ifandonwlod2{
	position: absolute;
	background-color: #181e23;
    border-radius: 5px;
    padding: 9px;
    color: #d1d1d1;
    text-align: center;
    outline: none;
    width: 60%;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 142%;
    margin-left: 17%;
}
#ifandonwlod2:hover{
	background: rgba(0,0,0,0);
	color: #ffffff;
	box-shadow: inset 0 0 0 2px #ff0000;
}

#ifandonwlod4:hover{
	background: rgba(0,0,0,0);
	color: #ffffff;
	box-shadow: inset 0 0 0 2px #ff0000;
}

.section-title {
	text-align: center;
	margin-bottom: 75px;
}

.section-title h2 {
	padding-top: 10px;
	font-size: 36px;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 80px;
	padding-bottom: 90px;
}
.spad1 {
	padding-top: 97px;
	padding-bottom: 9px;
}



.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

.rating i {
	color: #fbb710;
}

.rating .is-fade {
	color: #e0e3e4;
}
.fon11{
    background-color:#030303;
    width: 97%;
    height: 92%;
    margin-left:1%;
}
#donwlod2 {
    position: absolute;
    background-color: #181e23;
    border-radius: 5px;
    padding: 9px;
    color: #d1d1d1;
    text-align: center;
    outline: none;
    width: 60%;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 150%;
    margin-left: 17%;
}
#donwlod2:hover{
	background: rgba(0,0,0,0);
	color: #ffffff;
	box-shadow: inset 0 0 0 2px #ff0000;
}
.fon22{
    background-color:#030303;
    width: 97%;
    height: 105%;
    margin-top: 2%;
    margin-left: 1%;
}
.fon223{
	background-color:#030303;
    width: 97%;
    height: 100%;
    margin-top: 2%;
    margin-left: 1%;
}
.fon222{
	background-color:#030303;
    width: 97%;
    height: 111%;
    margin-top: 2%;
    margin-left: 1%;
}
.fon111{
	background-color:#030303;
    width: 97%;
    height: 100%;
    margin-left: 1%;
}
#ifandonwlod4 {
    position: absolute;
    background-color: #181e23;
    border-radius: 5px;
    padding: 9px;
    color: #d1d1d1;
    text-align: center;
    outline: none;
    width: 60%;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 150%;
    margin-left: 17%;
}
#imgprog{
	width: 97%;
	position: absolute;
}
#row{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.site-btn {
	display: inline-block;
	text-align: center;
	font-size: 15px;
	color: #131313;
	padding: 16px 30px;
	min-width: 153px;
	border-radius: 50px;
	font-weight: 500;
	border: none;
	background: #ffb320;
	cursor: pointer;
}

.site-btn.btn-sm {
	padding: 10px 30px;
	min-width: 163px;
}

.site-btn:hover {
	color: #131313;
}

.cata {
	display: inline-block;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	color: #fff;
	padding: 6px 25px;
}

.cata.new{
	background:#ff0066;

}
.cata.new1{
	background:#ff0066;
	margin-top: 4%;
	
}

.cata.strategy {
	background: #4eae60;
}

.cata.racing {
	background: #694eae;
}

.cata.adventure {
	background: #40abf5;
}
	
.header-section {
	background: #000000;
	clear: both;
	overflow: hidden;
	padding: 18px 0;
	border-bottom: 1px solid #ffb320;
}

.site-logo {
	display: inline-block;
	float: left;
	padding-top: 6px;
}

#slider56 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.user-panel {
	float: right;
	font-weight: 500;
	background: #ffb320;
	padding: 8px 28px;
	border-radius: 30px;
}

.user-panel a {
	font-size: 14px;
	color: #131313;
}

.main-menu {
	float: right;
	margin-right: 170px;
}

.main-menu {
	list-style: none;
}

.main-menu{
	display: inline;
}

.main-menu a {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	margin-left: 35px;
	font-weight: 500;
	padding: 10px 5px;
}

.main-menu a:hover {
	color: #ffb320;
}

.header-btn {
	float: right;
	margin-right: 0;
}

.nav-switch {
	display: none;
}



.footer-top-section {
	background-image: url("../img/pattern.png");
	background-repeat: repeat;
	padding: 72px 0;
}

.footer-top-section .container {
	position: relative;
}

.footer-top-bg {
	position: absolute;
	left: -30px;
	bottom: -85px;
	z-index: 2;
}

.footer-logo img {
	margin-bottom: 35px;
}

.footer-widget {
	padding: 40px 30px 7px;
	background: #252525;
	border: 1px solid #4a4a4a;
}

.footer-widget .fw-title {
	color: #fff;
	margin-bottom: 40px;
}

.footer-section {
	margin-top: 2%;
	padding: 18px 0 16px;
	overflow: hidden;
	background: #252525;
}

.footer-menu {
	list-style: none;
	float: right;
}

.footer-menu li {
	display: inline;
}

.footer-menu li a {
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	color: #aeaeae;
	margin-left: 30px;
}

.copyright {
	float: left;
	margin-bottom: 0;
	font-weight: 500;
	color: #aeaeae;
}


@media (min-width: 1200px) {
	.container {
		max-width: 1176px;
	}
	.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#text1{
	position: absolute;
	font-size: 17px;
	font-weight: 500;
	margin-left: 40%;
	margin-top: 7%;
	color:#808080;
}
#text2{
	position: absolute;
	font-size: 17px;
	font-weight: 500;
	margin-left: 40%;
	margin-top: 7%;
	color:#808080;
}
#text4{
	word-wrap: break-word;
	font-size: 17px;
	font-weight: 500;
	position: absolute;
	margin-left: 40%;
	margin-top: 6%;
	color:#808080;
}
#dataprog{
	position: absolute;
	margin-top: 4%;
	margin-left: 40%;
	font-size: 17px;
}
#text3{
	position: absolute;
	font-size: 17px;
	font-weight: 500;
	margin-left: 40%;
	margin-top: 7%;
	color:#808080;
}
#dataprog3{
	position: absolute;
	margin-top: 4%;
	margin-left: 40%;
	font-size: 17px;
}
#dataprog2{
	position: absolute;
	margin-top: 60px;
	margin-left: 40%;
	font-size: 17px;
}
.section-program img{
	width: 33%;
	margin-left: 5%;
	margin-top: 3%;
	position: absolute;
}
.section-program11 img{
	width: 33%;
	margin-left: 0%;
	margin-top: 3%;
}
.section-program1 img{
	width: 35%;
	margin-left: 6%;
	margin-top: 3%;
	position: absolute;
}
.section-program2 img{
	position: absolute;
	margin-top: 12px;
	width: 37%;
	margin-left: 5%;
}
.section-program3 img{
	position: absolute;
	margin-top: 12px;
	width: 37%;
	margin-left: 5%;
}
#dataprog4{
	position: absolute;
	margin-top: 4%;
	margin-left: 40%;
	font-size: 17px;
}
.fon11 h2{
	position: absolute;
	margin-top: 1%;
	color: #e65c00;  /* fallback for old browsers */
	color: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
	color: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin-left: 40%;
	font-size: 30px;
}
.fon222 h2{
	position: absolute;
	margin-top: 1%;
	color: #e65c00;  /* fallback for old browsers */
	color: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
	color: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin-left: 40%;
	font-size: 30px;
}
.fon22 h2{
	position: absolute;
	margin-top: 1%;
	color: #e65c00;  /* fallback for old browsers */
	color: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
	color: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin-left: 40%;
	font-size: 30px;
}
.fon77 h2{
	position: absolute;
	margin-top: 1%;
	color: #e65c00;  /* fallback for old browsers */
	color: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
	color: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin-left: 40%;
	font-size: 30px;
}

.fon55 h2{
	position: absolute;
	margin-top: 1%;
	color: #e65c00;  /* fallback for old browsers */
	color: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
	color: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin-left: 40%;
	font-size: 30px;
}
.fon44 h2{
	position: absolute;
	margin-top: 1%;
	color: #e65c00;  /* fallback for old browsers */
	color: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
	color: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin-left: 40%;
	font-size: 30px;
}
.fon66 h2{
	position: absolute;
	margin-top: 1%;
	color: #e65c00;  /* fallback for old browsers */
	color: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
	color: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin-left: 40%;
	font-size: 30px;
}
.fon223 h2{
	position: absolute;
	margin-top: 1%;
	color: #e65c00;  /* fallback for old browsers */
	color: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
	color: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin-left: 40%;
	font-size: 30px;
}

.fon111 h2{
	position: absolute;
	margin-top: 1%;
	color: #e65c00;  /* fallback for old browsers */
	color: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
	color: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin-left: 40%;
	font-size: 30px;
}
.fon66{
	background-color:#030303;
    width: 89%;
    height: 48%;
    margin-top: 2%;
    margin-left: 5%;
    border-radius: 20px;
}
.fon77{
	background-color:#030303;
    width: 89%;
    height: 48%;
    margin-top: 2%;
    margin-left: 5%;
    border-radius: 20px;
}
.section-program p{
	position: absolute;
	margin-bottom: 33%;
	width: 113%;
	margin-top: 88px;
	margin-left: 5%;
}
#ifandonwlod{
	position: absolute;
    background-color: #181e23;
    border-radius: 5px;
    padding: 9px;
    color: #d1d1d1;
    text-align: center;
    outline: none;
    width: 22%;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 17%;
    margin-left: 40%;
}
#donwlod2{
	position: absolute;
    background-color: #181e23;
    border-radius: 5px;
    padding: 9px;
    color: #d1d1d1;
    text-align: center;
    outline: none;
    width: 22%;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 18%;
    margin-left: 40%;
}
#donwlod2:hover{
	background: rgba(0,0,0,0);
	color: #ffffff;
	box-shadow: inset 0 0 0 2px #ff0000;
}
.danuas {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 16px;
}
.danuas li {
  display: inline;
  text-align: center;
}
.danuas a {
  float: left;
  display: block;
  font-size: 20px;
  text-decoration: none;
  padding: 5px 12px;
  color: #fbf8f8;
  margin-left: -1px;
  border: 1px solid transparent;
  line-height: 1.5;
}
#more{
	position: absolute;
    background-color: #181e23;
    border-radius: 5px;
    padding: 9px;
    color: #d1d1d1;
    text-align: center;
    outline: none;
    width: 22%;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 17%;
    margin-left: 64%;
}
#more:hover{
	background: rgba(0,0,0,0);
	color: #ffffff;
	box-shadow: inset 0 0 0 2px #03fc20;
}
#more2{
	position: absolute;
    background-color: #181e23;
    border-radius: 5px;
    padding: 9px;
    color: #d1d1d1;
    text-align: center;
    outline: none;
    width: 22%;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 18%;
    margin-left: 64%;
}
#more2:hover{
	background: rgba(0,0,0,0);
	color: #ffffff;
	box-shadow: inset 0 0 0 2px #03fc20;
}
#ifandonwlod44{
	position: absolute;
    background-color: #181e23;
    border-radius: 5px;
    padding: 9px;
    color: #d1d1d1;
    text-align: center;
    outline: none;
    width: 22%;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 18%;
    margin-left: 40%;
}
#ifandonwlod44:hover{
	background: rgba(0,0,0,0);
	color: #ffffff;
	box-shadow: inset 0 0 0 2px #ff0000;
}
#ifandonwlod55{
	position: absolute;
    background-color: #181e23;
    border-radius: 5px;
    padding: 9px;
    color: #d1d1d1;
    text-align: center;
    outline: none;
    width: 22%;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 18%;
    margin-left: 40%;
}
#ifandonwlod55:hover{
	background: rgba(0,0,0,0);
	color: #ffffff;
	box-shadow: inset 0 0 0 2px #ff0000;
}
#ifandonwlod45{
	position: absolute;
    background-color: #181e23;
    border-radius: 5px;
    padding: 9px;
    color: #d1d1d1;
    text-align: center;
    outline: none;
    width: 22%;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 18%;
    margin-left: 40%;
}
#ifandonwlod45:hover{
	background: rgba(0,0,0,0);
	color:#ffffff;
	box-shadow: inset 0 0 0 2px #ff0000;
}
#ifandonwlod77{
	position: absolute;
    background-color: #181e23;
    border-radius: 5px;
    padding: 9px;
    color: #d1d1d1;
    text-align: center;
    outline: none;
    width: 22%;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 18%;
    margin-left: 40%;
}
#ifandonwlod77:hover{
	background: rgba(0,0,0,0);
	color:#ffffff;
	box-shadow: inset 0 0 0 2px #ff0000;
}
.danuas a.deystvuyus {
  cursor: default;
}
.danuas a:deystvuyus {
  outline: none;
}

.center{
	text-align: center;
}
.kanap-mavlena {
  position: relative;
}
.kanap-mavlena:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 40px;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(2, 2, 2, 0.65) 40%, rgba(2, 2, 2, 0.65) 50%, rgba(2, 2, 2, 0.65) 60%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 40%, rgba(2, 2, 2, 0.65) 50%, rgba(2, 2, 2, 0.65) 60%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(2, 2, 2, 0.65) 40%, rgba(2, 2, 2, 0.65) 50%, rgba(2, 2, 2, 0.65) 60%, rgba(0, 0, 0, 0) 100%);
}
.kanap-mavlena a {
  color: #615f5f;
  padding: 13px 5px 5px;
  margin: 0 10px;
  position: relative;
}
.kanap-mavlena a:hover {
  color: #fbf8f8;
}
.kanap-mavlena a:hover:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background: #1E7EE2;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  z-index: -1;
  left: -1px;
  bottom: 6px;
  margin: auto;
}
.kanap-mavlena a.next, .kanap-mavlena a.prev {
  color: #1E7EE2;
}
.kanap-mavlena a.next:hover, .kanap-mavlena a.prev:hover {
  color: #fbf8f8;
}
.kanap-mavlena a.next:hover:after, .kanap-mavlena a.prev:hover:after {
  display: none;
}
.kanap-mavlena a.deystvuyus {
  background: #1474d8;
  color: #fbf7f7;
}
.kanap-mavlena a.deystvuyus:before {
  content: '';
  position: absolute;
  top: -11px;
  left: -10px;
  width: 18px;
  border: 10px solid transparent;
  border-bottom: 7px solid #0b3f73;
  z-index: -1;
}

#ifandonwlod:hover{
	background: rgba(0,0,0,0);
	color: #ffffff;
	box-shadow: inset 0 0 0 2px #ff0000;
}
#ifandonwlod2{
	position: absolute;
    background-color: #181e23;
    border-radius: 5px;
    padding: 9px;
    color: #d1d1d1;
    text-align: center;
    outline: none;
    width: 22%;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 18%;
    margin-left: 40%;
}
#ifandonwlod2:hover{
	background: rgba(0,0,0,0);
	color: #ffffff;
	box-shadow: inset 0 0 0 2px #ff0000;
}
#ifandonwlon88{
	position: absolute;
    background-color: #181e23;
    border-radius: 5px;
    padding: 9px;
    color: #d1d1d1;
    text-align: center;
    outline: none;
    width: 22%;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 18%;
    margin-left: 40%;
}
#ifandonwlon88:hover{
	background: rgba(0,0,0,0);
	color: #ffffff;
	box-shadow: inset 0 0 0 2px #ff0000;
}
.section-title {
	text-align: center;
	margin-bottom: 75px;
}

.section-title h2 {
	padding-top: 10px;
	font-size: 36px;
}
.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 80px;
	padding-bottom: 90px;
}
.spad1 {
	padding-top: 97px;
	padding-bottom: 9px;
}
.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

.rating i {
	color: #fbb710;
}

.rating .is-fade {
	color: #e0e3e4;
}
.fon11{
    background-color:#030303;
    width: 89%;
    height: 48%;
    margin-top: 10%;
    margin-left: 5%;
    border-radius: 20px;
}
.fon222{
    background-color:#030303;
    width: 89%;
    height: 48%;
    margin-top: 10%;
    margin-left: 5%;
    border-radius: 20px;
}
.fon22{
    background-color:#030303;
    width: 89%;
    height: 48%;
    margin-top: 2%;
    margin-left: 5%;
    border-radius: 20px;
}
.fon88{
    background-color:#030303;
    width: 89%;
    height: 48%;
    margin-top: 2%;
    margin-left: 5%;
    border-radius: 20px;
}
.fon111{
	background-color:#030303;
    width: 89%;
    height: 48%;
    margin-top: 0%;
    margin-left: 5%;
    border-radius: 20px;
}
.fon223{
    background-color:#030303;
    width: 89%;
    height: 48%;
    margin-top: 2%;
    margin-left: 5%;
    border-radius: 20px;
}
#row{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
#program{
	display: block;
    border: none;
	background: #F09819;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #EDDE5D, #F09819);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #EDDE5D, #F09819); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 120px;
    margin-right: 540px;
    margin-left: 540px;
    margin-top:10px;
    padding: 19px;
    color: white;
    text-align: center;
    outline: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.site-btn {
	display: inline-block;
	text-align: center;
	font-size: 15px;
	color: #131313;
	padding: 16px 30px;
	min-width: 153px;
	border-radius: 50px;
	font-weight: 500;
	border: none;
	background: #ffb320;
	cursor: pointer;
}

.site-btn.btn-sm {
	padding: 10px 30px;
	min-width: 163px;
}

.site-btn:hover {
	color: #131313;
}

.cata {
	display: inline-block;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	color: #fff;
	padding: 6px 25px;
}

.cata.new{
	background:#ff0066;

}
.cata.new1{
	background:#ff0066;
	margin-top: 4%;
	
}

.cata.strategy {
	background: #4eae60;
}

.cata.racing {
	background: #694eae;
}

.cata.adventure {
	background: #40abf5;
}

/*------------------
  Header section
---------------------*/

.header-section {
	background: #000000;
	clear: both;
	overflow: hidden;
	padding: 18px 0;
	border-bottom: 1px solid #ffb320;
}

.site-logo {
	display: inline-block;
	float: left;
	padding-top: 6px;
}

#slider56 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
#ifandonwlod4{
    position: absolute;
    background-color: #181e23;
    border-radius: 5px;
    padding: 9px;
    color: #d1d1d1;
    text-align: center;
    outline: none;
    width: 22%;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top:18%;
    margin-left: 40%;
}
.fon44{
	background-color:#030303;
    width: 89%;
    height: 48%;
    margin-top: 2%;
    margin-left: 5%;
    border-radius: 20px;
}
.user-panel {
	float: right;
	font-weight: 500;
	background: #ffb320;
	padding: 8px 28px;
	border-radius: 30px;
}
.fon55{
	background-color:#030303;
    width: 89%;
    height: 48%;
    margin-top: 2%;
    margin-left: 5%;
    border-radius: 20px;
}
.user-panel a {
	font-size: 14px;
	color: #131313;
}
.fon44 {
    background-color: #030303;
    width: 89%;
    height: 48%;
    margin-top: 2%;
    border-radius: 20px;
    margin-left: 5%;
}
.main-menu {
	float: right;
	margin-right: 170px;
}

.main-menu {
	list-style: none;
}

.main-menu{
	display: inline;
}

.main-menu a {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	margin-left: 35px;
	font-weight: 500;
	padding: 10px 5px;
}

.main-menu a:hover {
	color: #ffb320;
}

.header-btn {
	float: right;
	margin-right: 0;
}

.nav-switch {
	display: none;
}

.footer-top-section {
	background-image: url("../img/pattern.png");
	background-repeat: repeat;
	padding: 72px 0;
}

.footer-top-section .container {
	position: relative;
}

.footer-top-bg {
	position: absolute;
	left: -30px;
	bottom: -85px;
	z-index: 2;
}

.footer-logo img {
	margin-bottom: 35px;
}

.footer-widget {
	padding: 40px 30px 7px;
	background: #252525;
	border: 1px solid #4a4a4a;
}

.footer-widget .fw-title {
	color: #fff;
	margin-bottom: 40px;
}

.footer-section {
	margin-top: 2%;
	padding: 18px 0 16px;
	overflow: hidden;
	background: #252525;
}

.footer-menu {
	list-style: none;
	float: right;
}

.footer-menu li {
	display: inline;
}

.footer-menu li a {
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	color: #aeaeae;
	margin-left: 30px;
}

.copyright {
	float: left;
	margin-bottom: 0;
	font-weight: 500;
	color: #aeaeae;
}
.map {
	height: 515px;
	background: #ddd;
	margin-bottom: 90px;
}

.contact-info-list {
	padding-top: 55px;
	padding-bottom: 20px;
	list-style: none;
}

.contact-info-list li {
	margin-bottom: 30px;
}

.contact-info-list .cf-left {
	width: 95px;
	float: left;
	font-size: 16px;
	font-weight: 700;
	color: #ffb320;
}

.contact-info-list .cf-right {
	color: #878787;
	font-size: 15px;
	padding-left: 100px;
}

.social-links a {
	color: #474747;
	font-size: 16px;
	margin-left: 10px;
	margin-right: 20px;
}
}
/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.main-menu {
		margin-right: 90px;
	}
	.hero-slider .owl-dots {
		max-width: 930px;
	}
	.review-section {
		background-position: right 10% top;
	}
	.review-item .review-cover {
		height: 280px;
	}
	.latest-blog .lb-item .lb-thumb {
		width: 55px;
		height: 55px;
	}
	.latest-blog .lb-item .lb-content {
		padding-left: 67px;
	}
	.top-comment .tc-item .tc-content {
		padding-left: 95px;
	}
	.footer-top-bg {
		max-width: 370px;
	}
	.page-info-section .pi-content h2 {
		font-size: 50px;
	}
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.site-logo {
		max-width: 130px;
	}
	.main-menu {
		margin-right: 25px;
	}
	.main-menu ul li a {
		margin-left: 15px;
	}
	.user-panel {
		padding: 8px 15px;
	}
	.hero-slider .hs-text h2 {
		font-size: 50px;
	}
	.hero-slider .owl-dots {
		max-width: 690px;
	}
	.recent-game-item {
		margin-bottom: 42px;
	}
	.tournament-item .ti-thumb {
		width: 100%;
		height: 230px;
		float: none;
	}
	.tournament-item .ti-text {
		padding-left: 0;
		padding-top: 20px;
	}
	.review-section {
		background-position: left top;
	}
	.review-item {
		margin-bottom: 63px;
	}
	.footer-logo {
		margin-bottom: 50px;
	}
	.latest-blog .lb-item .lb-thumb {
		width: 80px;
		height: 80px;
	}
	.latest-blog .lb-item .lb-content {
		padding-left: 95px;
	}
	.footer-top-bg {
		display: none;
	}
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
	.header-section {
		overflow: visible;
		padding: 23px 0;
	}
	.header-section .container {
		position: relative;
	}
	.site-logo {
		float: none;
		padding-top: 0;
	}
	.main-menu {
		display: none;
		position: absolute;
		top: calc(100% + 24px);
		left: 0;
		width: 100%;
		background: #ffffff;
		z-index: 999;
	}
	.main-menu ul li {
		display: block;
		border-bottom: 1px solid #ececec;
	}
	.main-menu ul li a {
		margin-left: 0;
		color: #131313;
		padding: 13px 26px;
	}
	.nav-switch {
		color: #fff;
		display: block;
		float: right;
		cursor: pointer;
		font-size: 25px;
	}
	.user-panel {
		display: none;
	}
	.hero-slider .hs-item {
		height: 700px;
	}
	.hero-slider .hs-text h2 {
		font-size: 36px;
	}
	.hero-slider .owl-dots {
		max-width: 510px;
	}
	.ln-title {
		padding-right: 30px;
	}
	.feature-item {
		margin-bottom: 30px;
	}
	.recent-game-item {
		margin-bottom: 42px;
	}
	.review-section {
		background-position: left top;
	}
	.review-item {
		margin-bottom: 63px;
	}
	.footer-logo {
		margin-bottom: 50px;
	}
	.footer-top-bg {
		display: none;
	}
	.footer-section {
		padding: 30px 0 20px;
		text-align: center;
	}
	.footer-menu li:first-child a {
		margin-left: 0;
	}
	.footer-menu,
	.copyright {
		float: none;
	}
	.copyright {
		padding-top: 15px;
	}
	.community-post-list li {
		padding: 30px 25px 30px;
	}
	.page-info-section .pi-content h2 {
		font-size: 50px;
	}
}

/* Medium Mobile :480px. */

@media only screen and (max-width: 576px) {
	.hero-slider .owl-dots {
		padding: 0 15px;
	}
	.feature-section {
		padding-left: 15px;
		padding-right: 15px;
	}
	.community-post-list .community-post .author-avator {
		float: none;
	}
	.community-post-list .community-post .post-content {
		padding-left: 0;
		padding-top: 30px;
	}
}

/* Small Mobile :320px. */

@media only screen and (max-width: 479px) {
	.hero-slider .hs-item {
		height: auto;
		padding: 150px 0;
	}
	.ln-title {
		display: none;
	}
	.news-ticker {
		width: 100%;
	}
	.tournament-item .ti-thumb {
		width: 100%;
		height: 230px;
		float: none;
	}
	.tournament-item .ti-text {
		padding-left: 0;
		padding-top: 20px;
	}
	.latest-blog .lb-item .lb-thumb {
		width: 55px;
		height: 55px;
	}
	.latest-blog .lb-item .lb-content {
		padding-left: 67px;
	}
	.top-comment .tc-item .tc-content {
		padding-left: 85px;
	}
	.site-btn {
		padding: 11px 30px;
		min-width: 145px;
	}
	.comment-list .comment .comment-avator {
		float: none;
	}
	.comment-list .comment .comment-content {
		padding-left: 0;
		padding-top: 20px;
	}
	.footer-widget {
		padding: 40px 15px 7px;
	}
	.page-info-section .pi-content h2 {
		font-size: 40px;
	}
}